@import "tailwindcss";

@font-face {
  font-family: 'PP Neue Machina';
  src: url('/fonts/PPNeueMachina-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --reddish-orange: #CB684D;
  --reddish-Gray: rgba(255, 255, 255, 0.2);;
  --foreground: #F3F6FB;
  --grayMixGreen: #285260;
}

@theme inline {
  --main-button-color: var(--reddish-orange);
  --gray-button-color: var(--reddish-Gray);
  --grayMixGreen-Info-color: var(--reddish-Gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body{
  background-color:#F3F6FB;
  color: white;
  font-family: 'PP Neue Machina', sans-serif;
}


/* 
.test::after {
  content: "";
  position: absolute;
  width: 104px;
  height: 56px;
  background-image: url('./assets/InsideView.svg');
} */


.test {
  display: inline-block; 
  position: relative; 
  bottom: 5px;
  left: 2px;
}

.test::after {
  content: "";
  display: inline-block;
  width: 104px;
  height: 56px;
  background-image: url('./assets/InsideView.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  vertical-align: middle; 
}

@media (width <=1280px){
  .test{
    bottom:3px;
    left:2px;
  }
  .test::after{
    width: 64px;
  }
}