@import "tailwindcss";


@font-face {
  font-family: 'PP Neue Machina';
  src: url('/fonts/PPNeueMachina-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


:root {
  --reddish-orange: #CB684D;
  --reddish-Gray: rgba(255, 255, 255, 0.2);;
  --foreground: #171717;
}

@theme inline {
  --main-button-color: var(--reddish-orange);
  --gray-button-color: var(--reddish-Gray);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body{
  background-color: black;
  color: white;
  font-family: 'PP Neue Machina', sans-serif;
}


